window.__ORNN_CONFIG__ = {
  ornnApiBaseUrl: "${ORNN_API_BASE_URL}",
  nyxidApiBaseUrl: "${NYXID_API_BASE_URL}",
  nyxidWebBaseUrl: "${NYXID_WEB_BASE_URL}",
  nyxidOauthAuthorizePath: "${NYXID_OAUTH_AUTHORIZE_PATH}",
  nyxidOauthTokenPath: "${NYXID_OAUTH_TOKEN_PATH}",
  nyxidOauthRedirectPath: "${NYXID_OAUTH_REDIRECT_PATH}",
  nyxidLogoutPath: "${NYXID_LOGOUT_PATH}",
  nyxidSettingsPath: "${NYXID_SETTINGS_PATH}",
  nyxidOauthClientId: "${NYXID_OAUTH_CLIENT_ID}",
  posthogApiKey: "${POSTHOG_API_KEY}",
  posthogProjectId: "${POSTHOG_PROJECT_ID}",
  posthogHost: "${POSTHOG_HOST}"
};
